---

---
<html lang="en">

<a href="/">home</a>
<a href="/about">about</a>
<a href="/blog">blog</a>
<head>
                <meta charset="utf-8" />
                <link rel="icon" type="image/svg+xml" href=
"/favicon.svg" />
                <meta name="viewport" content="width=device
-width" />
                <meta name="generator" content={Astro.generator} />
                <title>Blog</title>
        </head>
        <body>
                <h1>Microscopic</h1>
		<p>Bacteroides, Firmicutes, Prevotella, Clostridium, Bifidobacterium...
Don't be afraid the Latin just remember Bacteria comes fromBacterium meaning "staff"</p>
        </body>
</html>
