---
const pageTitle = "Home Page";
---

<html lang="en">

<a href="/"> Home</a>
<a href="/about"> about</a>
<a href="/blog"> blog</a>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>Where is it?</h1>
		<p>10 to the 13th microbes and what do you know about them?
	</body>
</html>
